{% extends 'base.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Oops that sucks{% endblock %}</title>
</head>
<body class="text-center">
    <div>
        <img class="img-fluid" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/390b6a4e-904b-47ba-9fa6-f49fce108888/d4lei9u-e9fdd659-d812-4e66-bd11-d270f662a3cb.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM5MGI2YTRlLTkwNGItNDdiYS05ZmE2LWY0OWZjZTEwODg4OFwvZDRsZWk5dS1lOWZkZDY1OS1kODEyLTRlNjYtYmQxMS1kMjcwZjY2MmEzY2IuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.celwL_URGpIPb3MGlWj5oKwaTPlKG-XazJHZsciVp9w" alt="Responsive image">
    </div>
    <h1 class="h3 mb-3 font-weight-normal">beep boop oops :(</h1>
</body>
</html>
{% endblock%}