{% extends 'base.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Great human!{% endblock %}</title>
</head>
<body class="text-center">
    <div>
        <img class="img-fluid" src="https://i1.theportalwiki.net/img/thumb/0/0a/Portal_Cake.png/200px-Portal_Cake.png" alt="Responsive image">
    </div>
    <h1 class="h3 mb-3 font-weight-normal">That worked!</h1>
    <h2 class="mt-5 mb-3 text-muted">(Though it may take several minutes to apply)</h2>
</body>
</html>
{% endblock%}

